<!DOCTYPE html>
<html>
  <head>
    <title>Triangles</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">

      <form action="/output" method="post">
        <label for="side1">Side 1</label>
        <input type="number" name="side1">
        <label for="side2">Side 2</label>
        <input type="number" name="side2">
        <label for="side3">Side 3</label>
        <input type="number" name="side3">
        <button type="submit" name="button">Submit</button>
      </form>

    </div>
  </body>
</html>
